<div class='blog'>
  <div class="row">
    <div class="col-12">
      <h3>Questions 12-20</h3>
    </div>
    <div class="col-12">
      <h3>
        11. Have you used or implemented <defn>media queries</defn> or mobile
        specific layouts/CSS?
      </h3>
      <p>
        Yes: collapsing navigation into a hamburger menu (with popup) for
        mobile devices. This layout is applied when the screen width is
        small enough.
      </p>
      <hr>
      <h3>
        12. Are you familiar with styling <defn>SVG</defn>?
      </h3>
      <p>
        Yes: attributes can be used on inline styles in the HTML. Like so:
        <code class="language-svg">
          &lt;rect x="10" y="10" width="100" height="100" fill="purple"&gt;
        </code>
      </p>
      <p>
        Styling can also be applied through JavaScript, like so:
        <code class="language-javascript">
          ("rect").attr("x", 10).attr("y", 10).attr("width", 100)
          .attr("height", 100).attr("fill", "purple")
        </code>
      </p>
      <hr>
      <h3>
        13. Can you give an example of an <defn>@media</defn> property other
        than <defn>screen</defn>?
      </h3>
      <p>
        There are four types:
      </p>
      <ul>
        <li><p>
          <defn>all: </defn> all media type devices.
        </p></li>
        <li><p>
          <defn>print: </defn> printers.
        </p></li>
        <li><p>
          <defn>speech: </defn> screen-readers that "read" a page out loud.
        </p></li>
        <li><p>
          <defn>screen: </defn> device screens.
        </p></li>
      </ul>
      <p>
        When using these <defn>@media</defn> properties, you specify a style
        just for those specific media outputs.
      </p>
      <hr>
      <h3>
        14. What are some of "gotchas" for writing efficient CSS?
      </h3>
      <p>
        Browsers <defn>match selectors</defn> from the <defn>right-most
        selector</defn>, then proceeds leftwards. In a selector such as
        <code>.card .title span</code>, the browser tries to match
        <code>span</code> first, and then filters all <code>span</code>
        elements by <code>.title</code>, and so on. This is not good because
        <code>span</code> matches a lot of elements! We try to avoid having key
        selectors that are <defn>tag</defn> or <defn>universal</defn>.
      </p>
      <p>
        We must also be aware which CSS properties trigger <defn>reflow</defn>,
        <defn>repaint</defn>, and <defn>compositing</defn>. We want to only
        apply proprties that trigger <defn>compositing</defn> (and avoid ones
        that trigger <defn>repaint</defn> and <defn>reflow</defn>, because
        those require the browser to do more work).
      </p>
      <h3>
        15. What are the advantages and disadvantages of using <defn> CSS
        preprocessors</defn> ?
      </h3>
      <p>Advantages:</p>
      <ul>
        <li><p>
          Maintainable and legible CSS.
        </p></li>
        <li><p>
          Easier to write <defn>nested selectors</defn>.
        </p></li>
        <li><p>
          <defn>Variables</defn> for theming.
        </p></li>
        <li><p>
          <defn>Mixins</defn> for repeated/patterned CSS.
        </p></li>
        <li><p>
          <defn>Modular: </defn> CSS codebase can be split into different
          files and then imported.
        </p></li>
      </ul>
      <p>Disadvantages:</p>
      <ul>
        <li><p>
          Need tools for <defn>preprocessing</defn> to write production
          ready CSS.
        </p></li>
      </ul>
      <hr>
      <h3>
        16. How would you implement a web design comp that uses non-standard
        fonts?
      </h3>
      <p>We can either:</p>
      <ul>
        <li><p>
          Use <code>@font-face</code> to get the desired
          font from a url (or locally).
        </p></li>
        <li><p>
          Import the font from a url through
          <code>@import</code>.
        </p></li>
      </ul>
      <p>
        And then we define the <code>font-family</code>,
        and <code>font-weight</code> for the element(s)
        that require different font styling.
      </p>
      <hr>
      <h3>
        17. Explain how a browser determines what elements <defn>match</defn> a
        <defn>CSS selector</defn>.
      </h3>
      <p>
        Explained already above: the browser matches a CSS selector from the
        <defn>right-most selector</defn> on the chain, the finds all the
        DOM elements matching it. Then from those matching elements, the
        browser <defn>filters</defn> them out by the <defn>next selector (left)
        </defn>, and so on, until it has matched all appropriate elements
        (or browser has filtered down to one or no elements).
      </p>
      <p>Efficiency tips:</p>
      <ul>
        <li><p>
          Write <defn>shorter</defn> CSS selector chains.
        </p></li>
        <li><p>
          Ensure that the <defn>right-most (key) selector</defn> in a chain
          doesn't match a lot of elements (like <defn>universal</defn> or
          <defn>tag</defn> selectors).
        </p></li>
      </ul>
      <hr>
      <h3>
        18. Describe <defn>pseudo-elements</defn> and discuss what they are
        used for.
      </h3>
      <p>
        CSS <defn>pseudo-elements</defn> are selectors that allow to style a
        specific part of an element. They allow for
        <defn>styling/content</defn> changes <defn>without modifying HTML</defn>.
      </p>
      <p>
        Examples:
      </p>
      <ul>
        <li><p>
          <code>:first-line</code> and <code>first-letter</code> for
          decorating text.
        </p></li>
        <li><p>
          <code>.clearfix</code> for adding a zero-space element (without
          changing markup!).
        </p></li>
        <li><p>
          <code>:before</code> and <code>:after</code> (combined with <code>
          content</code>) for adding elements that appear to be in the DOM
          (without changing markup!)
        </p></li>
      </ul>
      <pre class="language-css"><code>h1::after &#123;
  content: "hello"
&#125;</code></pre>
      <p>Appears like:</p>
      <pre class="language-html"><code>&lt;h1&gt;
  Other h1 content
  hello
&lt;/h1&gt;</code></pre>
      <p>
        When using <code>::before</code>, then the content will appear
        <defn>before</defn> the rest of the content in the element.
      </p>
      <pre class="language-css"><code>h1::before &#123;
  content: "hello"
&#125;</code></pre>
      <p>appears like:</p>
      <pre class="language-html"><code>&lt;h1&gt;
  hello
  Other h1 content
&lt;/h1&gt;</code></pre>
      <hr>
      <h3>
        19. Explain your understanding of the <defn>box model</defn> and how you
        would tell the browser in CSS to <defn>render</defn> your layout in
        <defn>different box models</defn>.
      </h3>
      <p>
        HTML elements are represented by <defn>rectangular boxes</defn>.
        Each box contains:
      </p>
      <ul>
        <li><p>
          <defn>Content area: </defn> where text, images, and divs are
          contained.
        </p></li>
        <li><p>
          <defn>Padding area (optional): </defn> an area surrounding <defn>
          content</defn>, separating them from the <defn>border</defn>.
        </p></li>
        <li><p>
          <defn>Border area (optional): </defn> an area consisting of the
          <defn>border</defn>, which surrounds the <defn>padding</defn> area.
        </p></li>
        <li><p>
          <defn>Margin area (optional): </defn> an area surrounding the
          <defn>border</defn>, separating the box from other content.
        </p></li>
      </ul>
      <p>
        The <defn>box model</defn> is responsible for some calculations about
        these boxes. The calculations:
      </p>
      <ul>
        <li><p>
          Amount of <defn>space</defn> taken up by the block element.
        </p></li>
        <li><p>
          Whether or not the <defn>borders/margins overlap</defn> (the sum
          of two adjacent margins are combined) or <defn>collapse</defn>
          (two adjacent margins collapse to one margin).
        </p></li>
        <li><p>
          <defn>Dimensions</defn> of the box.
        </p></li>
      </ul>
      <p><defn>Box model</defn> rules for block elements:</p>
      <ul>
        <li><p>
          <defn>Dimensions</defn> are calculated using the <code>width</code>,
          <code> height</code>, <code>padding</code>, <code>border</code> and
          <code>margin</code>.
        </p></li>
        <li><p>
          When no <code>height</code> is specified: element will take
          <code>height</code> of its <defn>content</defn>, plus
          <code>padding</code> (exception: <defn>floats</defn>).
        </p></li>
        <li><p>
          When no <code>width</code> is specified: element will take
          <code>width</code> of its <defn>parent</defn>, minus
          <code>padding</code> (exception: <defn>floats</defn>).
        </p></li>
        <li><p>
          <defn>Height</defn> of element = <code>height</code> of its
          <defn>content</defn> (default with <code>box-model:
            content-box</code>).
        </p></li>
        <li><p>
          <defn>Width</defn> of element = <code>width</code> of its
          <defn>content</defn> (default with <code>box-model:
            content-box</code>).
        </p></li>
        <li><p>
          By default, <code>border</code> and <code>padding</code> are not
          used in calculating an element's <code>width</code> and
          <code>height</code>.
        </p></li>
      </ul>
    </div>
  </div>
</div>
