<div class='container-fluid site-content' id='home-container'>
  <div class='row mb-10'>
    <div class="col-12">
      <span class="subtitle">
        Welcome to my notes...
        <br>
        coming soon
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
    <div class="col-12 row-space">
      <img class="subtitle-icon" src="./assets/images/work/edit.svg">
      <span class="subtitle sm">
        <b>section</b>
        <br>
        this is a section.
        <br>
      </span>
    </div>
  </div>
</div>
