<div class='container-fluid site-container'>
  <div class='row mb-10'>
    <div class="col-12">
      <span class="subtitle">
        Welcome to my <b>notes</b> !
      </span>
      <br><br>
      <span class="subtitle sm">
        Here you'll find some of the notes I've written about various topics:
        from computer science, design, to life (perhaps). If you're curious
        about something I've written here, feel free to contact me.
        <br><br>
        I don't actually expect anyone to read this, so I apologize if
        the writing isn't top notch.
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
    <div class="col-12 row-space">
      <img class="subtitle-icon" src="./assets/images/work/edit.svg">
      <span class="subtitle sm">
        <b>computer science & dev</b>
      </span>
    </div>
    <div class="col-12 col-md-6">
      <a class="btn-sim" routerLink="/notes/frontend-questions-html">
        <span>FRONT-END QUESTIONS HTML</span>
      </a>
    </div>
    <div class="col-12 col-md-6">
      <a class="btn-sim" routerLink="/notes/frontend-questions-css-one">
        <span>FRONT-END QUESTIONS CSS: 1-10 </span>
      </a>
    </div>
    <div class="col-12 col-md-6">
      <a class="btn-sim" routerLink="/notes/frontend-questions-css-two">
        <span>FRONT-END QUESTIONS CSS: 11-20 </span>
      </a>
    </div>
    <div class="col-12 col-md-6">
      <a class="btn-sim" routerLink="/notes/frontend-questions-css-three">
        <span>FRONT-END QUESTIONS CSS: 21-30 </span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
    <div class="col-12 row-space">
      <img class="subtitle-icon" src="./assets/images/work/pen.svg">
      <span class="subtitle sm">
        <b>design & art</b>
      </span>
    </div>
    <div class="col-12 col-md-6">
      <a class="btn-sim" routerLink="/notes">
        <span>COMING SOON</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
    <div class="col-12 row-space">
      <img class="subtitle-icon" src="./assets/images/work/diary.svg">
      <span class="subtitle sm">
        <b>personal</b>
      </span>
    </div>
    <div class="col-12 col-md-6">
      <a class="btn-sim" routerLink="/notes">
        <span>COMING SOON</span>
      </a>
    </div>
  </div>
</div>
