<div class='container-fluid site-container'>
  <div class='row mb-10'>
    <div class="col-12">
      <span class="subtitle">
        Welcome to my <b>notes</b> !
      </span>
      <br>
      <span class="subtitle sm">
        Here you'll find some of the notes I've written about various topics,
        from computer science, design, to life (perhaps).
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
    <div class="col-12 row-space">
      <img class="subtitle-icon" src="./assets/images/work/edit.svg">
      <span class="subtitle sm">
        <b>computer science / dev</b>
      </span>
    </div>
    <div class="col-12 col-md-6">
      <a class="btn-sim" href="/">
        <span>FRONT-END QUESTIONS HTML</span>
      </a>
    </div>
    <div class="col-12 col-md-6">
      <a class="btn-sim" href="/">
        <span>FRONT-END QUESTIONS CSS</span>
      </a>
    </div>
    <div class="col-12 col-md-6">
      <a class="btn-sim" href="/">
        <span>FRONT-END QUESTIONS JS</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
    <div class="col-12 row-space">
      <img class="subtitle-icon" src="./assets/images/work/pen.svg">
      <span class="subtitle sm">
        <b>personal</b>
      </span>
    </div>
    <div class="col-12 col-md-6">
      <a class="btn-sim" href="/">
        <span>CUTE STUFF</span>
      </a>
    </div>
    <div class="col-12 col-md-6">
      <a class="btn-sim" href="/">
        <span>FASHION STUFF</span>
      </a>
    </div>
    <div class="col-12 col-md-6">
      <a class="btn-sim" href="/">
        <span>EXISTENTIAL CRISIS</span>
      </a>
    </div>
  </div>
</div>
