<div class='container-fluid site-container'>
  <div class='row'>
    <div class='col-12 col-lg-6 col-xl-5'>
      <div class='home-about-img-container'>
        <img src='./assets/images/Fides_Avatar.png' class='home-about-img'/>
        <span class="subtitle sm">
          <hr class="mt20-b10">
          I'm <b>Fides Linga</b>, a web developer and student at U of T.
          I'm happiest when the sun is out.
          <br><br>
          Thanks for visiting my website!
        </span>
      </div>
    </div>
    <div class='col-12 col-lg-6 offset-xl-1'>
      <div class='home-about-txt-container'>
        <span class="subtitle sm">
          <hr class="d-md-none">
          <b>Experience</b>
          <br>
          I've worked as a web developer in two
          internships at <u>GO Transit</u>, and <u>Metrolinx</u>. Currently,
          I develop the front-end of a FX Trading platform at <u>TickTrade</u>.
          For more, check my <a href="files/FidesLinga_Resume.pdf" class="font-link">resume</a>.
          <br><br>
          <b>Volunteer</b>
          <br>
          I help out in graphic design at <u>AMACSS</u>, which is
          the departmental organization for Computer Science,
          Math & Statistics at U of T Scarborough.
          <br><br>
          <b>Education</b>
          <br>
          HBSc. Candidate 2020 (Computer Science) - Deans List, University
          of Toronto at Scarborough. My up-to-date
          <a href="files/FidesLinga_Transcript.pdf" class="font-link">transcript</a>.
          <br><br>
          <b>Links</b>
          <br>
          Feel free to take a look, and don't be afraid to say hi!
          <br>
          <a href="https://www.linkedin.com/in/fides-linga-a58430109/" class="font-link">linkedin</a>
          <br>
          <a href="https://www.facebook.com/fides.linga" class="font-link">facebook</a>
          <br>
          <a href="https://www.instagram.com/fides.linga" class="font-link">instagram</a>
      <br><br>
    </span>
      </div>
    </div>
  </div>
</div>
