<div class='container-fluid site-container'>
  <div class='row'>
    <div class='col-12 col-lg-6 col-xl-5'>
      <div class='home-about-img-container'>
        <img src='./assets/images/Fides_Avatar.png' class='home-about-img'/>
        <span class="subtitle sm">
          <hr class="mt20-b10">
          I'm <b>Fides Linga</b>, and I study at U of T Scarborough (UTSC).
          <br><br>
          I love all things design and try to add it to everything that
          I do. Currently, I am exploring (ethical) fashion. I'm happiest when
          the sun is out.
          <br><br>
          Thanks for visiting my website!
          <br><br>
          <b>Links</b>
          <br>
          Feel free to take a look, and don't be afraid to say hi!
          <br>
          <a href="https://www.linkedin.com/in/fides-linga-a58430109/" class="icon-link"><i class="fab fa-linkedin-in"></i></a>
          <a href="https://github.com/desslinga" class="icon-link"><i class="fab fa-github-alt"></i></a>
          <a href="https://www.facebook.com/fides.linga" class="icon-link"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/fides.linga" class="icon-link"><i class="fab fa-instagram"></i></a>
        </span>
      </div>
    </div>
    <div class='col-12 col-lg-6 offset-xl-1'>
      <div class='home-about-txt-container'>
        <span class="subtitle sm">
          <hr class="d-md-none">
          <b>Experience</b>
          <br>
          I'm excited to be to be joining <u>Amazon Toronto</u> as an SDE intern
          this coming summer! Currently, I develop the front-end of a FX Trading
          platform at <u>TickTrade</u>. I've worked as a web developer at
          <u>GO Transit</u>, and <u>Metrolinx</u>.
          For more, check my <a href="files/FidesLinga_Resume.pdf" class="font-link">resume</a>.
          <br><br>
          <b>Teaching</b>
          <br>
          I am fortunate to be (or have been) a teaching assistant for some upper-level
          Computer Science courses at UTSC, namely in the topics of Algorithm Design,
          Operating Systems, Functional Programming, and Human-Computer Interaction!
          <br><br>
          <b>Volunteer</b>
          <br>
          I am a designer at <u>UofT Hacks</u>, a hackathon held at
          U of T. I was also a designer at <u>AMACSS</u>, at UTSC.
          <br><br>
          <b>Education</b>
          <br>
          HBSc. Candidate 2020 (Computer Science) - Deans List, UTSC. My up-to-date
          <a href="files/FidesLinga_Transcript.pdf" class="font-link">transcript</a>.
      <br><br>
    </span>
      </div>
    </div>
  </div>
</div>
