<div class="row">
  <div class="col-12">
    <span class="preview-desc">
      <br>
      These are marketing assets I created for
      the Pi Day event at AMACSS. To play into
      the pun, I wanted to portray how
      much math goes into baking anyway!
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_piday_1.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
       For this, I illustrated some pies, rulers,
       among others. I added some drafting
       outlines around the pies for more math.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_piday_2.png' class='preview-photo'/>
  </div>
</div>
