<div class="blog">
  <div class="row">
    <div class="col-12">
      <h3>Questions 11-20</h3>
    </div>
    <div class="col-12">
      <h3>
        11. What's the difference between <defn>host objects</defn> and
        <defn>native objects</defn>?
      </h3>
      <p>
        <defn>Native objects</defn>: are <defn>ECMAScript</defn>
        implementations. How they work (semantics) is defined by the spec,
        rather than the host environment.
      </p>
      <p>
        Examples: <code>Object</code>, <code>Date</code>, <code>parseInt</code>,
        <code>indexOf</code>, and <code>replace</code>.
      </p>
      <p>
        <defn>Host objects</defn>: are objects supplied by the host
        environment, which help with the execution.
      </p>
      <p>
        Examples: (assuming browser environment) <code>window</code>,
        <code>history</code>, <code>document</code>, <code>querySelector</code>.
      </p>
      <hr>
      <h3>
        12. What's the difference between: <code class="language-javascript">
        function Person() &#123;&#125;</code>,
        <code class="language-javascript"> var person = Person()</code>, and
        <code class="language-javascript">var person = new Person()</code>?
      </h3>
      <p>This questions is about how constructors work in JavaScript.</p>
      <ul>
        <li><p>
          <code class="language-javascript">function() &#123;&#125;</code>
          is simply a <defn>function declaration</defn>. It is written in
          <defn>PascalCase</defn>, which is convention for constructor names.
        </p></li>
        <li><p>
          <code class="language-javascript">var person = Person()</code> calls
          the <code class="language-javascript">Person()</code> as a function
          and assigns its return value to te <code>person</code> variable.
          It doesn't call <code class="language-javascript">Person()</code> as
          a constructor.
        </p></li>
        <li><p>
          <code class="language-javascript">var person = new Person()</code>
          creates a new instance of the <code>Person</code> object, and assigns
          it to the <code>person</code> variable. This is the effect of the
          <code>new</code> operator. The new instance of <code>Person</code>
          inherits from <code>Person.prototype</code>.
        </p></li>
      </ul>
      <pre><code class="language-javascript">function Person(name) &#123;
  this.name = name;
&#125;
// this does NOT invoke a constructor:
var person = Person('John'); // person is undefined!
// this invokes a constructor:
var person = new Person('John');</code></pre>
      <hr>
      <h3>
        13. What's the difference between <code>.call()</code> and <code>.apply()
        </code>?
      </h3>
      <p>
        Both <code>.call()</code> and <code>.apply()</code> are used to call
        functions, where the first argument will be used as the value of
        <code>this</code> inside the function.
      </p>
      <p>The difference is how they take the rest of the arguments:</p>
      <ul>
        <li><p>
          <code>.call()</code> takes them as comma-separated values.
        </p></li>
        <li><p>
          <code>.apply()</code> takes them as an array of comma-separated
          values.
        </p></li>
      </ul>
      <pre class="language-javascript"><code>function add(a, b) &#123;
  return a + b;
&#125;
add.call(null, 1, 2); // 3
add.apply(null, [1, 2]); // 3</code></pre>
      <h3>
        14. Explain <code class="language-javascript">Function.prototype.bind
        </code>.
      </h3>
      <p>
        The <code>bind()</code> method creates and returns a new function such
        that, when it is invoked, the value of <code>this</code> inside the
        function is set to provided argument.
      </p>
      <pre class="language-javascript"><code>define myFunction() &#123;&#125;
  console.log(this.value);
&#125;
var obj = &#123;
  value: 'hello';
&#125;
var newFunction = myFunction.bind(obj);
newFunction(); // hello</code></pre>
      <p>
        It is different from <code>.call()</code> and <code>.apply()</code>
        because <code>.bind()</code> creates a new function, with the same
        parameters as the original. With <code>.call()</code> and <code>.apply()
        </code>, the binding of <code>this</code> and providing is done within
        the same (single) call.
      </p>
      <hr>
      <h3>
        15. When would you use <code class="language-javascript">document.write()
        </code>?
      </h3>
      <p>
        <code class="language-javascript">document.write()</code> writes a
        string of text to a stream that was opened by
        <code class="language-javascript">document.open()</code>. When
        <code class="language-javascript">document.write()</code> is executed
        after a web-page is loaded, then it'll call
        <code class="language-javascript">document.open()</code>, which will
        clear the entire doucment (including <code>head</code> and
        <code>body</code>). The contents get replaced with what's provided
        as arguments.
      </p>
      <p>
        Thus, this practice should be avoided, and not used in general.
      </p>
      <hr>
      <h3>
        16. What's the difference between <defn>feature detection</defn>, <defn>
        feature inference</defn>, and using the <defn>UA string</defn>?
      </h3>
      <p>
        <defn>Feature detection</defn>: checking for the condition that a
        browser supports a specific feature, before executing a block of code
        using that feature. If some feature is not supported, then execute
        another block of code as a work-around.
      </p>
      <pre class="language-javascript"><code>if ('geolocation' in navigator) &#123;
  // block of code using geolocation
&#125; else &#123;
  // workaround
&#125;</code></pre>
      <p>
        <defn>Feature inference</defn>: also checks for a feature (similarly to
        <defn>feature detection</defn>). Upon verifying a feature is supported,
        it executes a block of code that uses a different feature, which is
        assumed t be supported as consequence. This is not recommended because
        it isn't foolproof.
      </p>
      <p>
        <defn>UA String</defn>: a string that is reported by the browser,
        allowing <defn>network protocol peers</defn> to identify: the
        <defn>application type</defn>, <defn>operating system</defn>,
        <defn>software vendor/version</defn> of the requesting user agent.
        It is accessed via
        <code class="language-javascript">navigator.userAgent</code>
      </p>
      <p>
        This string is not easy parsed, and can be falsified (Chrome reports as
        both Chrome and Safari.) This method should be avoided.
      </p>
      <hr>
      <h3>
        17. Explain <defn>Ajax</defn> in as much detail as possible.
      </h3>
      <p>
        <defn>AJAX</defn>: stands for <defn>Asynchronous JavaSciprt and XML
        </defn>.
      </p>
      <p>
        It is a set of <defn>web development techniques</defn> that relies on
        web technologies on the <defn>client side</defn>, to make <defn>
        asynchronous</defn> web applications.
      </p>
      <p>
        The main idea is that web-apps can <defn>send and retrieve data</defn>
        to and from the server, and do so <defn>asynchronously</defn> (read:
        in the background), not interfering with the user experience of the
        displayed page.
      </p>
      <p>
        <defn>Ajax</defn> separates the <defn>data interchange layer</defn> and
        the <defn>presentation layer</defn>. This allows for dynamic pages
        (changing without reloading/refreshing entire page).
      </p>
      <p>
        Modern implementations normally use <defn>JSON</defn> instead of
        <defn>XML</defn>, because it is native to JavaScript.
      </p>
    </div>
  </div>
</div>
