<div class="row">
  <div class="col-12">
    <span class="preview-desc">
      <br>
      Potted Plants Series is a collection of illustrations
      about ...potted plants. For these, I like to
      experiment with cute vase designs that I've found
      elsewhere.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/plants_v1.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
       These are succulents (debatable) on teardrop-esque
       vases.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/plants_v2.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
       These ones have a rather plain vase design,
       but it definitely draws interest to
       the leafy plants.
    </span>
  </div>
</div>
