<div class="blog">
  <div class="row">
    <div class="col-12">
      <p>
        Thanks for making your way to my notes. Hosting notes on my website, I
        find, encourages me to write more. This welcome note is in 'personal'
        section, and it's just supposed to... explain who I am (briefly) and
        what I hope to write here.
      </p>
      <h3>
        A (brief) introduction
      </h3>
      <p>
        I'll describe who I am <i>currently</i> — minus nitty-gritty career
        and academic aspects because there's plenty of that in the
        <a href="/about" class="font-link">about</a> page.
      </p>
      <p>
        I'm Fides, and I have always been drawn to visual arts. It's probably
        the one thing that's been constant in my life, and I try to include it
        in everything I do. I started with traditional mediums first (pencil
        and paper) and then transitioned into digital illustration and
        graphic design.
      </p>
      <p>
        I like to make everything look nice and presentable — be it my clothes
        (I also love ethical fashion), my writing, and of course — my
        development work. It's a big reason why I do web development. I find
        that there's plenty of ways to get creative with it.
      </p>
      <p>
        When I'm not doing "programming-related" stuff, I'm usually shopping.
        I also volunteer as a designer for student-run organizations. It's
        a way for me to contribute doing what I'm good at, and to improve at
        this hobby.
      </p>
      <p>
        If you meet me in real life, the first thing you'd probably notice
        is that I'm quite reserved. I am small in appearance, and I don't talk
        much. I don't think I'm scary though (in contrast — I'm usually
        intimated by other people.) So if you see me in real life, you can say
        hi!
      </p>
      <p>
        Anyways, that's a brief introduction of me.
      </p>
      <h3>
        What I'll be writing about
      </h3>
      <p>
        I do like writing enough to enjoy essay-based university courses as
        my electives. What I hope to write about in the "personal" section are
        ramblings about different struggles, happy moments, or interesting
        things that I come across... This section will be different from the
        previous two. The notes you'll find in the "computer science & dev" and
        "design & art" sections are instructional — it's objective and technical
        in tone.
      </p>
      <p>
        On the other hand, the "personal" section will be more subjective and
        opinionated. What can you expect? I've made a list so that it's easier
        to digest:
      </p>
      <br>
      <ul>
        <li>
          <b>My experiences as a woman in computer science</b> — there are both
          negative and positive aspects about it. It's an interesting topic
          to write about because it's <i>kind of (?)</i> controversial. I'll
          be writing about my experience in academia, at work, and interactions
          with the non-tech community.
        </li>
        <li>
          <b>Balancing non-tech hobbies with a tech career</b> — as I've said before,
          visual arts has always been my favourite thing to do. I'll write about
          my struggle in nurturing this hobby with everything that a computer
          science career demands. I found that there are expectations for those
          wanting career in computer science, such as coding during one's free
          time, side projects, etc. I'll be writing about how these expectations
          affect those who, like me, enjoy other non-tech hobbies.
        </li>
        <li>
          <b>Relationship things (romantic and non-romantic)</b> — veering into the
          non-tech related topics. This one is self-explanatory. I'll be writing
          about dating scenes, romantic relationships, family relationships,
          all their expectations and dynamics, and everything in between.
        </li>
        <li>
          <b>Exploring ethics in consumerism</b> — this one is becoming a personal
          passion. I am someone who loves the thrill of shiny and new things,
          and I know I need to slow down. Ethics in consumerism covers a pretty
          broad array of topics. There are issues relating to environmental
          sustainability, fair treatment of workers, and consumers. 
        </li>
      </ul>
      <br>
      <p>
        Of course, I may write about other topics. And I may not write about
        the topics above... but these are just things that I have quite a lot
        to say about.
      </p>
      <h3>Thank you!</h3>
      <p>
        Thanks for reading this introduction piece! And if you're interested,
        do check back on this "blog" and perhaps I will have added something
        by then. In the meantime, you can definitely take a look at my
        other notes!
      </p>
    </div>
  </div>
</div>
