<div class="blog">
  <div class="row">
    <div class="col-12">
      <p>
        Thanks for making your way to my notes. Hosting notes on my website, I
        find, encourages me to write more. This welcome note is in 'personal'
        section, and it's just supposed to... explain who I am (briefly) and
        what I hope to write here.
      </p>
      <h3>
        A (brief) introduction
      </h3>
      <p>
        I'll describe who I am <i>currently</i> — minus nitty-gritty career
        and academic aspects because there's plenty of that in the
        <a href="/about" class="font-link">about</a> page.
      </p>
      <p>
        I'm Fides, and I have always been drawn to visual arts. It's probably
        the one thing that's been constant in my life, and I try to include it
        in everything I do. I started with traditional mediums first (pencil
        and paper) and then transitioned into digital illustration and
        graphic design.
      </p>
      <p>
        I like to make everything look nice and presentable — be it my clothes
        (I also love ethical fashion), my writing, and of course — my
        development work. It's a big reason why I do web development. I find
        that there's plenty of ways to get creative with it.
      </p>
      <p>
        When I'm not doing "programming-related" stuff, I'm usually shopping.
        I also volunteer as a designer for student-run organizations. It's
        a way for me to contribute doing what I'm good at, and to improve at
        this hobby.
      </p>
      <p>
        If you meet me in real life, the first thing you'd probably notice
        is that I'm quite reserved. I am small in appearance, and I don't talk
        much. I don't think I'm scary though (in contrast — I'm usually
        intimated by other people.) So if you see me in real life, you can say
        hi!
      </p>
    </div>
  </div>
</div>
