<div class="row">
  <div class="col-12">
    <span class="gallery-preview-desc">
       <br>
       This is a selection of Gaming Night posters
       I created for AMACSS.
       Gaming Nights are a monthly recurring event
       (usually at the last Friday of each month).
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_gaming_night_1.png' class='gallery-preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="gallery-preview-desc">
       All Gaming Night posters are
       styled similarly, with a dark navy background
       and complementary card/video game
       graphics.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_gaming_night_3.png' class='gallery-preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="gallery-preview-desc">
       The similar styling makes the
       event easy to get familiar with
       (which is definitely our goal)!
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_gaming_night_2.PNG' class='gallery-preview-photo'/>
  </div>
</div>
