<div class='blog'>
  <div class="row">
    <div class="col-12">
      <h3>Questions 21-30</h3>
    </div>
    <div class="col-12">
      <h3>
        21. What is the CSS <defn>display</defn> property, and can you
        give a few examples of it's use?
      </h3>
      <p>
        The <defn>display</defn> property specifides how an element is
        displayed (the type of rendering box). Few examples:
      </p>
      <ul>
        <li><p>
          <code>none</code>, <code>block</code>, <code>inline</code>,
          <code>inline-block</code>.
        </p></li>
        <li><p>
          <code>table</code>, <code>table-row</code>, <code>table-cell</code>,
          <code>list-item</code> (these let the element behave the like the
          respective html tags these refer to: <code>&lt;table&gt;</code>,
          <code>&lt;tr&gt;</code>, <code>&lt;td&gt;</code>,
          <code>&lt;li&gt;</code>)
        </p></li>
      </ul>
      <hr>
      <h3>
        22. What's the difference between <code>inline</code> and
        <code>inline-block</code>?
      </h3>
      <p><code>block</code>:</p>
      <ul>
        <li><p>
          element's <code>width</code> = parent's <code>width</code>
        </p></li>
        <li><p>
          element starts on a <defn>new line</defn>, and does not let other
          elements to sit <defn>inline</defn> with it.
        </p></li>
        <li><p>
          cannot use the <code>vertical-align</code> property on it.
        </p></li>
      </ul>
      <p><code>block</code> and <code>inline-block</code> similarities:</p>
      <ul>
        <li><p>
          can specify <code>width</code> and <code>height</code> of element.
        </p></li>
        <li><p>
          all side of <code>margin</code> and <code>padding</code> are
          respected, if applied.
        </p></li>
      </ul>
      <p><code>inline-block</code> and <code>inline</code> similarities:</p>
      <ul>
        <li><p>
          element's <defn>size</defn> depends on it's <defn>content</defn>
        </p></li>
        <li><p>
          element allows other elements to sit <defn>inline</defn> with it.
        </p></li>
        <li><p>
          can use the <code>vertical-align</code> property on it.
        </p></li>
      </ul>
      <p><code>inline</code>:</p>
      <ul>
        <li><p>
          ignores <code>width</code> and <code>height</code> properties,
          if set.
        </p></li>
        <li><p>
          only horizontal sides of <code>margin</code> and <code>padding</code>
          are respected, if applied.
        </p></li>
        <li><p>
          when applying <code>float</code>, it acts like a <code>block</code>
          element (such that <code>block</code> properties apply.)
        </p></li>
      </ul>
      <hr>
      <h3>
        What's the difference between a <code>relative</code>,
        <code>fixed</code>, <code>absolute</code>, and <code>static</code>-ally
        positioned element?
      </h3>
      <p>
        A <defn>positioned</defn> element: has a <code>position</code>
        property that is set to either <code>relative</code>,
        <code>fixed</code>, <code>absolute</code> or <code>sticky</code>
        (aka anything but <code>static</code>).
      </p>
      <p>
        The possible values for a <code>position</code> property:
      </p>
      <ul>
        <li><p>
          <code>static</code>: this is the default setting; the element is in
          the <defn>flow</defn> of the page. The <code>top</code>,
          <code>right</code>, <code>bottom</code>, <code>left</code> and
          <code>z-index</code> properties are ignored if set.
        </p></li>
        <li><p>
          <code>relative</code>: element's position is adjusted from where it
          was originally (if it was <code>static</code>). <defn>Layout</defn>
          is <defn>not changed</defn> from this adjustment
          (<defn>flow</defn> is the same).
        </p></li>
        <li><p>
          <code>absolute</code>: element is positioned as specified (by
          <code>top</code>, <code>left</code>, <code>bottom</code>, and/or
          <code>left</code> properties) based on its closest ancestor that is
          also positioned (not <code>static</code>). If this element dosen't
          exist, it is positioned relative to its parent. An
          <code>absolute</code> element can have a <code>margin</code>, and
          don't affect the positioning of other elements (read: they are
          <defn>removed</defn> from the <defn>flow</defn> of the page).
        </p></li>
        <li><p>
          <code>fixed</code>: element is positioned as specified, relative to
          the <defn>viewport</defn> (visible screen). A <code>fixed</code>
          element <defn>does not move</defn> as the window <defn>scrolls</defn>.
          It is also <defn>removed</defn> from the <defn>flow</defn> of the
          page.
        </p></li>
        <li><p>
          <code>sticky</code>: element is <code>relatively</code> positioned --
          until it passes a specified <defn>scroll height</defn>. After that
          it is <code>fixed</code> positioned.
        </p></li>
      </ul>
      <hr>
      <h3>
        What existing <defn>CSS frameworks</defn> have you used locally, or in
        production? Any comments on them?
      </h3>
      <p>
        A couple of popular <defn>CSS frameworks</defn>:
      </p>
      <ul>
        <li><p>
          <defn>Bootstrap</defn>: easy to learn and customize for your
          own theme.
        </p></li>
        <li><p>
          <defn>Semantic UI</defn>: difficult to learn, and difficult to
          customize.
        </p></li>
      </ul>
      <hr>
      <h3>
        Have you played around with the new <defn>CSS Flexbox</defn> or
        <defn>Grid</defn> specs?
      </h3>
      <p>
        <defn>Flexbox</defn> and <defn>CSS Grid</defn> is used to layout
        content. <defn>Flexbox</defn> solves common CSS issues, such as
        vertical centering of elements in a container. It is used by
        <defn>Bootstrap</defn>. Using the <defn>Grid</defn> system is more
        intuitive, but it doesn't have as much browser support as
        <defn>Flexbox</defn> yet.
      </p>
    </div>
  </div>
</div>
