<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_piday_1.png' class='gallery-preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="gallery-preview-desc">
       A set of marketing graphics for the Pi Day event
       held at AMACSS. It's a day where math and
       baking combine, so I wanted to portray how
       much math goes into baking anyway!
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_piday_2.png' class='gallery-preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="gallery-preview-desc">
       I illustrated some pies, rulers, etc, using ProCreate
       on iPad Pro. And everything else on Adobe Illustrator.
    </span>
  </div>
</div>
