<div class="row">
  <div class="col-12">
    <span class="preview-desc">
       <br>
       These are marketing assets I created for
       the Coffee House event at AMACSS. It is a
       casual networking event for professors
       and students in the Computer Science /
       Mathematics / Statistics departments. I was
       tasked with creating a Facebook banner,
       print poster, and an invitation card to be
       distributed to guest professors.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_coffeehouse_wide.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
      The previous year's design revolved
      around coffee and dessert. Although
      refreshments were part of the event, I
      thought that the "mix and mingle" aspect
      was not being portrayed well enough. So,
      wanted to change things up!
      <br><br>
      The new theme mixed networking with the
      previous theme of refreshments. The goal of this
      design was to create a homely and inviting look,
      as networking events can be intimidating
      sometimes!
      <br><br>
      The illustration is of professors/students
      who are attending Coffee House. I took some
      inspiration from various illustration styles,
      and characters I saw on the Behance website.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_coffeehouse.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
       The handwritten text and border style
       is meant to emulate a paper invitation,
       all complemented by a palette full
       of warm tones (with blue to remain
       true to the AMACSS brand). As for the
       actual characters themselves... they
       are obviously fictional, but inspired
       by actual professors at UTSC!
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img
      style='background-color: #fffaed'
      src='./assets/images/gallery/archives/amacss_coffeehouse_draw.png'
      class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
       Some final thoughts...
       <br><br>
       I had lots of fun making this project! It was
       quite the learning experience too. Normally,
       I would stay clear of drawing people for any
       of my designs, but I thought it would be way
       more interesting if I did, specially for this
       project! To (comfortably) get myself out of my
       comfort zone, I did use reference pictures.
       <br><br>
       Overall, I'm happy with how these pieces worked
       out. Thanks so much for reading!
    </span>
  </div>
</div>
