<app-preview
  project="notes"
  [title]="title"
  prevUrl="/notes">
    <app-frontend-questions-html
      *ngIf="project==='frontend-questions-html'"
    ></app-frontend-questions-html>
    <app-frontend-questions-css-one
      *ngIf="project==='frontend-questions-css-one'"
    ></app-frontend-questions-css-one>
    <app-frontend-questions-css-two
      *ngIf="project==='frontend-questions-css-two'"
    ></app-frontend-questions-css-two>
    <app-frontend-questions-css-three
      *ngIf="project==='frontend-questions-css-three'"
    ></app-frontend-questions-css-three>
    <app-frontend-questions-js-one
      *ngIf="project==='frontend-questions-js-one'"
    ></app-frontend-questions-js-one>
    <app-frontend-questions-js-two
      *ngIf="project==='frontend-questions-js-two'"
    ></app-frontend-questions-js-two>
</app-preview>
