<app-preview
  [project]="theme"
  [title]="title"
  prevUrl="/notes">
    <app-frontend-questions-html
      *ngIf="project==='frontend-questions-html'"
    ></app-frontend-questions-html>
    <app-frontend-questions-css-one
      *ngIf="project==='frontend-questions-css-one'"
    ></app-frontend-questions-css-one>
    <app-frontend-questions-css-two
      *ngIf="project==='frontend-questions-css-two'"
    ></app-frontend-questions-css-two>
    <app-frontend-questions-css-three
      *ngIf="project==='frontend-questions-css-three'"
    ></app-frontend-questions-css-three>
    <app-frontend-questions-js-one
      *ngIf="project==='frontend-questions-js-one'"
    ></app-frontend-questions-js-one>
    <app-frontend-questions-js-two
      *ngIf="project==='frontend-questions-js-two'"
    ></app-frontend-questions-js-two>
    <app-frontend-questions-js-three
      *ngIf="project==='frontend-questions-js-three'"
    ></app-frontend-questions-js-three>
    <app-frontend-questions-js-four
      *ngIf="project==='frontend-questions-js-four'"
    ></app-frontend-questions-js-four>
    <app-personal-first-post
      *ngIf="project==='personal-first-post'"
    ></app-personal-first-post>
    <app-cscc69-t1
      *ngIf="project==='cscc69-t1'"
    ></app-cscc69-t1>
    <app-cscc69-t2
      *ngIf="project==='cscc69-t2'"
    ></app-cscc69-t2>
</app-preview>
