<div class='container-fluid' id='home-container'>
  <div class='row'>
    <div class='col-12 col-lg-6 col-xl-5'>
      <nav class="custom-nav" [ngClass]="{'nav-overlay':navbarOpen}">
        <a class="nav-icon" href="#">
          <div class="fides-icon">
            <span>F</span>
          </div>
        </a>
        <button type="button" class="btn nav-toggle" (click)="toggleNavbar()">
          <div class="bar1" [ngClass]="{'change':navbarOpen}"></div>
          <div class="bar2" [ngClass]="{'change':navbarOpen}"></div>
          <div class="bar3" [ngClass]="{'change':navbarOpen}"></div>
        </button>
        <div class="nav-container" [ngClass]="{'nav-open':navbarOpen}">
          <ul>
            <li><a href="#"><span>About</span></a></li>
            <li><a href="#"><span>Work</span></a></li>
            <li><a href="#"><span>Gallery</span></a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
