.blog {
  & h1, h3, h4, p {
    margin: 0;
    padding: 10px 0 10px 0;
  }
  & img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
  }
  & .def {
    color: $lime;
  }
}
