.blog {
  & h1, h3, h4, p {
    margin: 0;
    padding: 10px 0 10px 0;
  }
  & img {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
  }
  & .defn {
    color: $c-special;
  }
  & .loc {
    @extend .font-xxs;
    //white-space: nowrap;
    font-family: $font-code;
    color: #fbfff2;
    background-color: #4e4e4e;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    border: 1px solid #868585;
  }
}
