/* You can add global styles to this file, and also import other style files */
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-okaidia";

@import "~bootstrap/dist/css/bootstrap.css";
@import "global-variables.scss";
@import "blog.scss";
@import "gallery.scss";
@import "mixins.scss";
@import "fonts.scss";

@import "./partial/button.scss";
@import "./partial/code.scss";
@import "./partial/preview.scss";
@import "./partial/nav.scss";

.main-colors {
  background-color: $c-primary;
  color: $c-accent;
}

body {
  @extend .main-colors;
  font-weight: $font-light;
  font-family: $font-main;
  overflow-y: overlay;
}

.max-width {
  max-width: $max-width;
}

.site-width {
  width: $width-xs;
  @include sm {
    width: $width-sm;
  }
  @include lg {
    width: $width-lg;
  }
}

.overflow-scrolling-touch {
  --webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}

.site-container {
  @extend .max-width;
  @extend .site-width;
  animation: $a-fade-from-down;
  padding-top: calc(#{$container-pad-top} + 25px);
  padding-bottom: calc(#{$container-pad-top-xs}*1.5);
}

.font-link {
  color: $c-special-2;
}

.icon-link {
  @extend .font-link;
  @extend .font-xl;
  margin-right: 10%;
}

a:hover {
  color: $c-accent;
  transition: 0.3s ease-in-out;
}

.work-bio-img {
  border-radius: 10px;
  width: 160px;
}

.home-about-img {
  border-radius: 10px;
  width: 100%;
}

.home-about-img-container {
  margin-bottom: calc(3vw + 5px);
}

.home-about-txt-container {
  margin-top: 0.5vw;
  margin-bottom: 4vw;
}

.no-scroll {
  overflow: hidden;
  cursor: hidden;
}

//gallery styles
.home-photo-container {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 100%;
  & .overlay {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    opacity: 0;
    border-radius: 10px;
    transition: $fast-ease;
    & .description {
      position: absolute;
      top: 53%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      font-weight: 500;
      font-size: 2rem;
      line-height: 2.5rem;
      transition: $fast-ease;
    }
  }
  &:hover {
    transition: $fast-ease;
    & .overlay {
      transition: $fast-ease;
      opacity: 1;
      & .description {
        top: 50%;
      }
    }
  }
}

.home-photo {
  width: 100%;
  border-radius: 10px;
}

// small fixes
.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt20-b10 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

//scroll bar style

::-webkit-scrollbar {
  z-index: 1000;
  width: 6px;
  position: overlay;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: $c-accent;
  border-radius: 3px;
}

.bar-close-1 {
  @extend .bar;
  -webkit-transform: rotate(-45deg) translate(-8px, 4px);
  transform: rotate(-45deg) translate(-8px, 4px);
}

.bar-close-2 {
  @extend .bar;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
  transform: rotate(45deg) translate(-2px, 1px);
}

.row-space {
  margin-top: 15px;
  margin-bottom: 15px
}

.subtitle-icon {
  width: 2rem;
  display: block;
}

hr {
  border-top: 1px solid $c-secondary;
}

.image-anchor {
  position: absolute;
  top: -100px;
  @include lg {
    top: -140px;
  }
}
