/* You can add global styles to this file, and also import other style files */
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-okaidia";

@import "~bootstrap/dist/css/bootstrap.css";
@import "global-variables.scss";
@import "blog.scss";
@import "gallery.scss";
@import "./partial/button.scss";
@import "mixins.scss";
@import "fonts.scss";

.main-colors {
  background-color: $c-primary;
  color: $c-accent;
}

body {
  @extend .main-colors;
  font-weight: $font-light;
  font-family: $font-main;
  overflow-y: overlay;
}

.max-width {
  max-width: $max-width;
}

.site-width {
  width: $width-xs;
  @include sm {
    width: $width-sm;
  }
  @include lg {
    width: $width-lg;
  }
}

.overflow-scrolling-touch {
  --webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}

.site-container {
  @extend .max-width;
  @extend .site-width;
  animation: $a-fade-from-down;
  padding-top: calc(#{$container-pad-top} + 25px);
  padding-bottom: calc(#{$container-pad-top-xs}*1.5);
}

.nav-overlay-container {
  @extend .max-width;
  @extend .site-width;
}

.nav-content {
  position: relative;
  left: 0;
  display: none;
  @include md {
    display: inline;
  }
}

.nav-container {
  @extend .main-colors;
  padding-top: $container-pad-top-xs;
  position: fixed;
  z-index: 1;
  padding-bottom: 1.5vh;
  width: 100vw;
  & ul {
    display: inline;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    & li {
      display: inline;
      right: 0;
      line-height: $fides-logo-height;
    }
  }
  & .nav-open {
    left: 0px;
    display: inline;
    & a {
      font-size: 25px;
      float: none;
      margin-left: 0;
    }
    & ul li:first-child {
      margin-top: calc(#{$fides-logo-height}/2);
    }
    & li {
      display: block;
      float: none;
    }
  }
}

a {
  color: $c-accent;
	font-weight: 500;
	text-decoration: none;
  transition: 0.3s ease-in-out;
  &:hover {
    text-decoration: none;
  }
}

.icon-link {
  margin-right: calc(1vw + 15px);
  font-size: 20px;
}

.nav-menu-link {
  margin-left: calc(1vw + 15px);
  font-size: 20px;
  font-family: $font-main;
  font-weight: 400;
  color: $c-accent;
  transition: $fast-ease;
  float: right;
  &.nav-item-active {
    font-weight: 700;
  }
  &:hover {
    color: $c-accent;
    transition: $fast-ease;
  }
}

.font-link {
  color: $c-special-2;
}

.fb-fix {
  position: relative;
  top: -2px;
  font-size: 18px;
}

a:hover {
  color: $c-accent;
  transition: 0.3s ease-in-out;
}

.work-bio-img {
  border-radius: 10px;
  width: 160px;
}

.home-about-img {
  border-radius: 10px;
  width: 100%;
}

.home-about-img-container {
  margin-bottom: calc(3vw + 5px);
}

.home-about-txt-container {
  margin-top: 0.5vw;
  margin-bottom: 4vw;
}

.nav-overlay {
  @extend .main-colors;
  @extend .overflow-scrolling-touch;
  position: absolute;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  z-index: 6;
  top: -$container-pad-top-xs;
  padding-top: $container-pad-top-xs;
  @include overlay-pad($width-xs);
  @include sm {
    @include overlay-pad($width-sm);
  }
  @include md {
    @include overlay-pad($width-md);
  }
}

.nav-title {
  display: inline;
  font-weight: 700;
}

.bar {
  background-color: $c-accent;
  width: 31px;
  height: 2px;
  margin: 8px 0px;
  transition: 0.4s;
  border-radius: 3px;
}

.bar1 {
  @extend .bar;
  &.change {
    -webkit-transform: rotate(-45deg) translate(-6px, 7px);
    transform: rotate(-45deg) translate(-6px, 7px);
  }
}

.bar2 {
  @extend .bar;
  &.change {
    opacity: 0;
  }
}

.bar3 {
  @extend .bar;
  &.change {
    -webkit-transform: rotate(45deg) translate(-7px, -8px);
    transform: rotate(45deg) translate(-7px, -8px);
  }
}

.nav-icon {
  display: inline-block;
}

.nav-toggle {
  padding: 0;
  margin: 4px 0 4px 0;
  height: 34px;
  width: 34px;
  background-color: transparent;
  float: right;
  position: relative;
  top: -3px;
  @include md {
    display: none;
  }
}

.nav-toggle-open {
  position: relative;
  right: 6px;
}

.fides-icon {
  width: $fides-logo-height;
  height: $fides-logo-height;
  background-color: $c-secondary;
  border-radius: 3px;
  & span {
    font-family: $font-logo;
    color: $c-primary;
    position: relative;
    font-size: 27px;
    top: 2px;
    left: 11px;
  }
}

.no-scroll {
  overflow: hidden;
  cursor: hidden;
}

//gallery styles
.home-photo-container {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 100%;
  & .overlay {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    opacity: 0;
    border-radius: 10px;
    transition: $fast-ease;
    & .description {
      position: absolute;
      top: 53%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      font-weight: 500;
      font-size: 2rem;
      line-height: 2.5rem;
      transition: $fast-ease;
    }
  }
  &:hover {
    transition: $fast-ease;
    & .overlay {
      transition: $fast-ease;
      opacity: 1;
      & .description {
        top: 50%;
      }
    }
  }
}

.home-photo {
  width: 100%;
  border-radius: 10px;
}

//gallery preview styles
.preview-container {
  @extend .overflow-scrolling-touch;
  position: absolute;
  top: 0; right: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  animation: $a-fade-from-down;
  overflow-y: scroll;
  z-index: 7;
  padding: $container-pad-top-xs 0 $container-pad-top-xs 0;
  @include sm {
    padding: $container-pad-top 0 $container-pad-top 0;
  }
  & .content {
    width: 100%;
    margin: 0 auto;
  }
  transition: $fast-ease;
}

.close-preview {
  transform: translateY(15px);
  opacity: 0;
  transition: $fast-ease;
}

.preview-title {
  font-weight: 400;
  font-size: 27px;
  width: 80%;
  word-break: break-word;
}

.preview-subtitle {
  font-weight: 300;
  font-size: 18px;
}

.preview-photo {
  width: 100%;
  border-radius: 5px;
}

.preview-close {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  top: 3px;
  right: 10px;
  fill: $brown;
  height: 27px;
  width: 27px;
}

// small fixes
.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt20-b10 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

//scroll bar style

::-webkit-scrollbar {
  z-index: 1000;
  width: 6px;
  position: overlay;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: $c-accent;
  border-radius: 3px;
}

.bar-close-1 {
  @extend .bar;
  -webkit-transform: rotate(-45deg) translate(-8px, 4px);
  transform: rotate(-45deg) translate(-8px, 4px);
}

.bar-close-2 {
  @extend .bar;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
  transform: rotate(45deg) translate(-2px, 1px);
}

.row-space {
  margin-top: 15px;
  margin-bottom: 15px
}

.subtitle-icon {
  width: 2rem;
  display: block;
}

hr {
  border-top: 1px solid $c-secondary;
}

.image-anchor {
  position: absolute;
  top: -100px;
  @include lg {
    top: -140px;
  }
}
