<div class='container-fluid site-content' id='home-container'>
  <div class='row'>
    <div class='col-12 col-lg-6 col-xl-5'>
      <div class='work-about-img-container'>
        <img src='https://github.com/wafffly/closetr/blob/master/mockups/closetr_mockups_web-dashboard.png?raw=true' class='work-about-img'/>
      </div>
    </div>
    <div class='col-12 col-lg-6 col-xl-7'>
      <div class='work-about-txt-container'>
        <h1><a href='work/closetr'>Closetr</a></h1>
        <span>
          Closetr is a closet tracker that helps you have a better sense of your style,
          and spending. We want to make it easier to know what to wear next, and to give
          you insight on which clothes work (and don't work) for you.
          <br><br>
          Closetr is an ongoing project, made with Angular, Node, Express, and MongoDB.
        </span>
      </div>
    </div>
  </div>
</div>
