<div class='container-fluid site-content' id='home-container'>
  <div class='row row-space'>
    <div class="col-12">
      <span class="subtitle">
        Hello, I'm <b>Fides Linga</b>.
        <br>
        I am a developer and designer.
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
    <div class="col-12 row-space">
      <img class="subtitle-icon" src="./assets/images/work/edit.svg">
      <span class="subtitle sm">
        <b>projects</b>
        <br>
        I create sites and applications on the web.
        <br>
      </span>
    </div>
    <div class='col-12 col-lg-6' *ngFor="let img of imageList; index as i">
      <div
        class='home-photo-container'
        (click)='openPreview(i)'>
        <img src='{{img.squareUrl}}' class='home-photo'/>
        <div
          class="overlay {{img.pageUrl}}">
          <span
            class="description">
            {{img.title}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
    <div class="col-12 row-space">
      <img class="subtitle-icon" src="./assets/images/work/pen.svg">
      <span class="subtitle sm">
        <b>graphic design</b>
        <br>
        I create playful designs and illustrations.
        <br>
      </span>
    </div>
  </div>
  <app-gallery></app-gallery>
</div>
