<div class='container-fluid site-content' id='home-container'>
  <div class='row'>
    <div class="col-12 row-space">
      <span class="subtitle">
        Hello, I'm <b>Fides Linga</b>
        <br>
        I am a developer
        <br>
        and designer of many things.
      </span>
    </div>
    <div class="col-12">
      <hr>
    </div>
    <div class="col-12 row-space">
      <img class="subtitle-icon" src="./assets/images/work/edit.svg">
      <span class="subtitle sm">
        <b>projects</b>
        <br>
        I create sites and applications on the web.
        <br>
      </span>
    </div>
    <div class='col-12 col-lg-6'>
      <div class='work-about-img-container'>
        <a routerLink='/work/closetr'>
          <img src='./assets/images/work/closetr-showcase-img.png' class='work-about-img'/>
        </a>
      </div>
    </div>
    <div class='col-12 col-lg-6'>
      <div class='work-about-img-container'>
        <a href='http://fideslinga.com/waffly'>
          <img src='./assets/images/work/waffly-showcase-img.png' class='work-about-img'/>
        </a>
      </div>
    </div>
  </div>
</div>
