<app-preview #preview [project]="project">
    <div class="row mb-10">
      <div class="col-10 col-sm-11">
        <span
          class="preview-title">
          {{title}}
        </span>
      </div>
      <div class="col-2 col-sm-1">
        <div class='preview-close' (click)="preview.closePreview('./home', project)">
          <div class="bar-close-1"></div>
          <div class="bar-close-2"></div>
        </div>
      </div>
    </div>
    <app-closetr
      *ngIf="project==='closetr'"
    ></app-closetr>
    <app-waffly
      *ngIf="project==='waffly'"
    ></app-waffly>
    <app-sparknodes
      *ngIf="project==='sparknodes'"
    ></app-sparknodes>
</app-preview>
