<div class='row'>
  <div class='col-12 col-lg-6' *ngFor="let img of imageListPrev; index as i">
    <div class='gallery-photo-container' (click)='openPreview(i)'>
      <img src='{{img.imgUrl}}' class='gallery-photo'/>
      <div class="overlay" [ngStyle]="{'background-color' : img.bgColor}">
        <span class="description">
          {{img.title}}
        </span>
      </div>
    </div>
  </div>
  <!--
  <app-gallery-preview
    *ngIf="previewedProject != ''"
    (prevEmit)="handlePrevEmit($event)"
    [project]="previewedProject">
  </app-gallery-preview>-->
</div>
