<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/uoft_hacks_tower.png' class='gallery-preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="gallery-preview-desc">
       Concept art for U of T Hacks VI, created as a request.
       This design was not eventually used for the event, but
       it was still fun making it!
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/uoft_hacks_skyline.png' class='gallery-preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="gallery-preview-desc">
       Designed on Adobe Illustrator, with some finishing
       touches on ProCreate (iPad Pro).
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/uoft_hacks_title.png' class='gallery-preview-photo'/>
  </div>
</div>
