<div class="row">
  <div class="col-12">
    <span class="preview-desc">
       <br>
       Concept art for U of T Hacks VI, created as a request.
       This design was not eventually used for the event, but
       it was still fun making it!
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/uoft_hacks_tower.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
      The U of T Hacks brand has consistently
      revolved around the Toronto skyline at night,
      and I decided to continue that.
      <br><br>
      The CN Tower was the scariest part to draw, as it would
      be the highlight. It turned out well though!
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/uoft_hacks_skyline.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
       Skyline buildings took up the majority
       of the piece. For this, the atmosphere
       I was aiming for was calm, peaceful, and
       warm.
       <br><br>
       Thus, I gave the building lights, as
       well as the tiered skylines a soft glow
       as they fade into the distance.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/uoft_hacks_title.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
      Lastly, the title. To make it just a
      bit more magical, I added sparks around
      it, complementing the warm glow of the skyline.
    </span>
  </div>
</div>
