<div class="row">
  <div class="col-12">
    <span class="preview-desc">
      <br>
      Warm Series is a collection of illustrations that
      just feel warm and toasty. There's currently only one piece
      in this series with hopefully more to come.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/girl_with_cats.PNG' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
      I really like cats so I made this one!
      <br>
      (Disclaimer: I do not own a cat currently)
    </span>
  </div>
</div>
