<div class="row">
  <div class="col-12">
    <span class="preview-desc">
       <br>
       This is concept art I created for U of T Hacks VI, as
       part of a request! U of T Hacks is an annual recurring
       hackathon held at U of T St. George campus -- a programming
       competition for students to create something novel in
       a span of (just over) a day. This particular design was
       not eventually used for the event. Nevertheless, it was
       still fun making it!
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/uoft_hacks_tower.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
      The U of T Hacks brand has consistently
      revolved around the Toronto skyline at night,
      and for my rendition, I decided to continue that
      tradition.
      <br><br>
      This design uses various forms of light. There
      are building lights, sparks, and starlight!
      <br><br>
      The centre piece of the Toronto skyline is
      the CN Tower. I wanted to make the tower as
      realistic as possible, while still being
      unique.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/uoft_hacks_skyline.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
       Skyline buildings took up the majority
       of the piece. The building lights are
       on because there are ideas at work! At
       night is when a lot of the magic happens
       at hackathons.
       <br><br>
       Indeed, hackathons are no doubt hectic
       most times. And so, the atmosphere I was
       aiming for was, in conjuction to excitement
       and ideas: calm, peaceful, and warm.
       Hopefully participants (and sponsors, and
       volunteers!) do get a chance to take a breather
       and appreciate how pretty the city can be
       sometimes! Yes, I am a big fan of Toronto
       (despite all of it's flaws).
       <br><br>
       I gave the building lights, as well as the
       tiered skylines a soft glow as they fade into
       the distance.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/uoft_hacks_title.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
      Lastly, the title. To make it just a
      bit more magical, I added sparks around
      it, complementing the warm glow of the skyline.
      Sparks symbolize the creation of ideas. U of T
      Hacks is where ideas happen!
    </span>
  </div>
</div>
