<app-preview [project]="project">
    <div class="row">
      <div class="col-12">
        <span
          class="preview-subtitle">
          Tools: {{tools}}
        </span>
      </div>
    </div>
    <app-uofthacks-v
      *ngIf="project==='uofthacks-v'"
    ></app-uofthacks-v>
    <app-potted-plants
      *ngIf="project==='potted-plants'"
    ></app-potted-plants>
    <app-amacss-gaming
      *ngIf="project==='amacss-gaming'"
    ></app-amacss-gaming>
    <app-amacss-piday
      *ngIf="project==='amacss-piday'"
    ></app-amacss-piday>
    <app-go-introduction
      *ngIf="project==='go-introduction'"
    ></app-go-introduction>
    <app-floral-series
      *ngIf="project==='floral-series'"
    ></app-floral-series>
    <app-amacss-coffeehouse
      *ngIf="project==='amacss-coffeehouse'"
    ></app-amacss-coffeehouse>
    <app-amacss-other
      *ngIf="project==='amacss-other'"
    ></app-amacss-other>
    <app-warm-series
      *ngIf="project==='warm-series'"
    ></app-warm-series>
</app-preview>
