<div class='blog'>
  <div class='row'>
    <div class="col-12 col-sm-6">
      <a class="btn-sim" href="http://fideslinga.com/waffly">
        <span>WEBSITE</span>
      </a>
    </div>
    <div class="col-12 col-sm-6">
      <a class="btn-sim" href="https://github.com/wafffly/">
        <span>GITHUB</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        Waffly is a couple of developers: Fides Linga (me) and
        Joshua Concon. Our goal is to create simple, functional apps.
        Check out our github to see what we've been up to.
      </p>
      <p>
        Want to join us? Just get in touch with me through one
        of the links in my profile.
      </p>
    </div>
    <div class="col-12">
      <hr>
      <h3>Branding</h3>
      <p>
        Inspired by waffles, and dessert colours.
      </p>
    </div>
    <div class="col-12">
      <img src="./assets/images/work/waffly_logo_1.png">
    </div>
    <div class="col-12">
      <img src="./assets/images/work/waffly_logo_2.png">
    </div>
  </div>
</div>
