<div class="row">
  <div class="col-12">
    <span class="preview-desc">
      <br>
      Warm Floral Series is a collection of
      illustration about flowers (I draw them
      a lot because it's therapeutic), but
      with a warm atmosphere. This collection
      will grow, no doubt.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/weekly1_flowergirl.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
       This one is a portrait of a girl with
       decorative flower branches.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/weekly2_flowerbranch.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
       The one is based on Robert Mapplethorpe's
       photograph titled 'Orchid'.
    </span>
  </div>
</div>
