<div class="blog">
  <div class="row">
    <div class="col-12">
      <h3>Questions 21-30</h3>
    </div>
    <div class="col-12">
      <h3>
        21. Explain <defn>hoisting</defn>.
      </h3>
      <p>
        <defn>Hoisting</defn> describes the behaviour of <defn>variable
        declarations</defn>. Variables that have been declared with keywords:
        <code>var</code>, <code>let</code>, and <code>const</code> are
        moved to the top of it's containing <defn>scope</defn> (read:
        <defn>hoisting</defn>.)
      </p>
      <p>
        Variables declared with <code>var</code> are <defn>hoisted</defn>, and
        <defn>initialized</defn>. This means that when accessing it's value
        before it has been assigned one, it will return as
        <code>undefined</code>.
      </p>
      <pre class="language-javascript"><code>console.log(fruit); // undefined
var fruit = 'Apple';
console.log(fruit); // Apple</code></pre>
      <p>
        Variables declared with <code>let</code> and <code>const</code> are also
        <defn>hoisted</defn>. But they are not <defn>initialized</defn>. This
        means that when accessing it's value before it has been assigned one,
        it will throw a <code>ReferenceError</code>.
      </p>
      <pre class="language-javascript"><code>console.log(fruit); // ReferenceError: fruit is not defined
let fruit = 'Apple';
console.log(fruit); // Apple</code></pre>
      <p>
        For all three types, the only the <defn>declaration</defn> is moved.
        The <defn>assignment</defn> of a value stays where it was placed.
      </p>
      <pre class="language-javascript"><code>console.log(name); // undefined
var name = 'Fides';
console.log(name); // Fides</code></pre>
      <p>becomes:</p>
      <pre class="language-javascript"><code>var name; // undefined
console.log(name); // undefined
name = 'Fides';
console.log(name); // Fides</code></pre>
      <p>
        <defn>Function declarations</defn> also get <defn>hoisted</defn> with
        the entire body of the function.
      </p>
      <pre class="language-javascript"><code>console.log(moo); // [Function: moo]
moo(); // MOOO
function moo() &#123;
  console.log("MOOO");
&#125;
console.log(moo); // [Function: moo]</code></pre>
      <p>
        On the other hand, <defn>function expressions</defn>, only get the
        <defn>variable declaration hoisted</defn>.
      </p>
      <pre class="language-javascript"><code>console.log(moo); // undefined
moo(); // Uncaught TypeError: moo is not a function
var moo = function() &#123;
  console.log("MOOO");
&#125;
console.log(moo); // [Function: moo]</code></pre>
      <hr>
      <h3>
        22. Describe <defn>event bubbling</defn>.
      </h3>
      <p>When an event is triggered in some DOM element, it will look for an
      <defn>event handler</defn> to handle it. If there is no <defn>event
      handler</defn> within the element where it was invoked, then the event
      <defn>bubbles</defn> up to its parent, and attempt to be handled there.
      It continues this process (may be all the way up to the <code>document
      </code> until the event has been handled.</p>
      <hr>
      <h3>
        23. What's the difference between an <defn>attribute</defn>, and a
        <defn>property</defn>?
      </h3>
      <p>
        <defn>Attributes</defn>: are defined on the <defn>HTML markup</defn>
        (whatever is defined initially by the developer).
      </p>
      <p>
        <defn>Properties</defn>: are defined on the <defn>DOM</defn>. It can be
        changed programatically or by user input.
      </p>
      <p>
        For example, say we have a text input: <code class="language-html">
        &lt;input type="text" value="Hello"&gt;</code>.
      </p>
      <pre class="language-javascript"><code>const input = document.querySelector('input');
console.log(input.getAttribute('value')); // Hello
console.log(input.value); // Hello</code></pre>
      <p>
        First we get the <defn>attribute</defn> via
        <code class="language-javascript">input.getAttribute('value')</code>,
        then we get the <defn>property</defn> value via
        <code class="language-javascript">input.value</code>. If some user
        changes the text in the input field to "Hello World!" then we get:
      </p>
      <pre class="language-javascript"><code>console.log(input.getAttribute('value')) // Hello
console.log(input.value); // Hello World!</code></pre>
      <p>
        The <defn>attribute</defn> remains the same as we've defined in in
        the <defn>HTML markup</defn>, but the <defn>property</defn> value
        changes via user input.
      </p>
      <hr>
      <h3>
        24. Why is <defn>extending built-in</defn> JavaScript objects not a
        good idea?
      </h3>
      <p>
        <defn>Extending</defn> a <defn>built-in/native</defn> JavaScript object
        refers to adding your own methods and properties to a
        <code>prototype</code>. It is not a good idea because it can cause
        conflicts. For example, say we have two libraries that extend
        <code class="language-javascript">Array.prototype</code>. If we change
        some function in <code class="language-javascript">Array.prototype
        </code>, then those two extended implementations may not work as
        expected, because they could conflict with each other.
      </p>
      <p>
        Is it ever okay to extend these built-in JavaScript objects? Yes, only
        in <defn>polyfills</defn>, where we want to provide an implementation
        for some method that may not be supported by an older browser.
      </p>
      <hr>
      <h3>
        25. What's the difference between the document <code>load</code> event,
        and the document <code>DOMContentLoaded</code> event?
      </h3>
      <p>
        <code>DOMContentLoaded</code>: an event that is fired when the initial
        HTML document has been <defn>parsed</defn>. It <defn>doesn't wait</defn>
        for <defn>resources</defn> loaded by that document, such as stylesheets,
        images, or subframes.
      </p>
      <p>
        <code>window</code>'s <code>load</code>: an event that is fired when
        initial HTML document has been <defn>parsed</defn> AND <defn> it's
        resources</defn> have been downloaded.
      </p>
    </div>
  </div>
</div>
