<div class="row">
  <div class="col-12">
    <span class="gallery-preview-desc">
       A selection of other graphics I
       created for AMACSS events and
       other purposes.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_hiring.png' class='gallery-preview-photo'/>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_quiz_night.png' class='gallery-preview-photo'/>
  </div>
</div>
