<div class="row">
  <div class="col-12">
    <span class="preview-desc">
       <br>
       A selection of other graphics I
       created for AMACSS events and
       other purposes. All illustrations
       were made with ProCreate.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_hiring.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
       Created to advertise that AMACSS
       is hiring for executive positions.
       For this, I illustrated what it
       would look like in the AMACSS
       office, just on a regular day.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_piday_1.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
      These are marketing assets I created for
      the Pi Day event at AMACSS. To play into
      the pun, I wanted to portray how
      much math goes into baking anyway!
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_piday_2.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
       For this, I illustrated some pies, rulers,
       among others. I added some drafting
       outlines around the pies for more math.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_meeting.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
       Created to advertise AMACSS General
       Meeting, which is an event where
       students vote to make changes to the
       organization's constitution.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_meeting_draw.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
      For this, I illustrated a document
      garnering some conversation (as if
      in revision).
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_quiz_night.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
       Created to advertise AMACSS Quiz Night,
       which is a competition style event
       where students answer questions
       related to their courses.
       <br><br>
       For this, I illustrated question bubbles with
       possible questions to be asked in
       the event!
    </span>
  </div>
</div>
