<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_coffeehouse_wide.png' class='gallery-preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="gallery-preview-desc">
       These are marketing assets I created for
       a Coffee House event at AMACSS. It is a
       casual networking event for professors
       and students in the Computer Science /
       Mathematics / Statistics departments.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_coffeehouse.png' class='gallery-preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="gallery-preview-desc">
       The theme is coffee and dessert,
       and networking. This time I went for
       an "invitation" look. The illustration
       is of attendees.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img
      style='background-color: #fffaed'
      src='./assets/images/gallery/archives/amacss_coffeehouse_draw.PNG'
      class='gallery-preview-photo'/>
  </div>
</div>
