<div class="row">
  <div class="col-12">
    <span class="preview-desc">
       <br>
       These are marketing assets I created for
       the Coffee House event at AMACSS. It is a
       casual networking event for professors
       and students in the Computer Science /
       Mathematics / Statistics departments.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_coffeehouse_wide.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
      The theme is coffee and dessert,
      plus networking. The goal of the design
      was to create a homely and inviting look,
      as networking events can be intimidating
      sometimes!
      <br><br>
      The illustration is of professors/students
      who are attending Coffee House.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/amacss_coffeehouse.png' class='preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="preview-desc">
       The handwritten text and border style
       is meant to emulate a paper invitation,
       all complemented by a palette full
       of warm tones (with blue to remain
       true to the AMACSS brand).
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img
      style='background-color: #fffaed'
      src='./assets/images/gallery/archives/amacss_coffeehouse_draw.PNG'
      class='preview-photo'/>
  </div>
</div>
