<div class='container-fluid site-content' id='home-container'>
  <div class='row mb-10'>
    <div class="col-12">
      <span class="subtitle">
        Hello, I'm <b>Fides Linga</b>.
        <br>
        I am a developer and designer.
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
    <div class="col-12 row-space">
      <img class="subtitle-icon" src="./assets/images/work/edit.svg">
      <span class="subtitle sm">
        <b>projects</b>
        <br>
        I create sites and applications on the web.
        <br>
      </span>
    </div>
  </div>
  <app-gallery
    type="work"
    [imageList]="projectImageList"
  ></app-gallery>
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
    <div class="col-12 row-space">
      <img class="subtitle-icon" src="./assets/images/work/pen.svg">
      <span class="subtitle sm">
        <b>graphic design</b>
        <br>
        I create playful designs and illustrations.
        <br>
      </span>
    </div>
  </div>
  <app-gallery
    type="gallery"
    [imageList]="designImageList"
  ></app-gallery>
</div>
