<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/plants_v1.png' class='gallery-preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="gallery-preview-desc">
       Part of an ongoing study of leafy plants and pots.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/plants_v2.png' class='gallery-preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="gallery-preview-desc">
       Designed on ProCreate (iPad Pro).
    </span>
  </div>
</div>
