<div class='blog'>
  <div class="row">
    <div class="col-12">
      <h3>1. What is <defn>CSS selector specificity</defn> and how does
        it work? </h3>
      <p>
        Specificity is a property of each CSS rule that has matched a
        particular element. For this, we assume that the browser knows which
        CSS rules match some particular element. The specificity for these
        matched rules are determined by four comma-separated values:
        <defn>(a, b, c, d)</defn>.
      </p>
      <ul>
        <li>
          <p>
            <defn>a: </defn>
            1 if the rule is an inline style, 0 otherwise.
            <br>
            <loc>&lt;h1 style="color: #fff"&gt;</loc> would get a score of
            <defn>a = 1</defn>.
          </p>
        </li>
        <li>
          <p>
            <defn>b: </defn>
            number of ID selectors.
            <br>
            <loc>#card #small</loc> has two id selectors, getting a score
            of <defn>b = 2</defn>.
          </p>
        </li>
        <li>
          <p>
            <defn>c: </defn>
            number of classes, attributes, and pseudo-class selectors.
            <br>
            <loc>.select-container .selector input[type="text"]</loc> has two
            class selectors <loc>.select-container</loc> and <loc>.selector</loc>,
            and one attribute selector <loc>[type="text"]</loc>, getting a score
            of <defn>c = 3</defn>.
          </p>
        </li>
        <li>
          <p>
            <defn>d: </defn>
            number of tags, and pseudo-element selectors.
            <br>
            <loc>label:before</loc> has one element <loc>label</loc> and one
            pseudo-element selector <loc>:before</loc> , getting a score of
            <defn>d = 2</defn>.
          </p>
        </li>
      </ul>
      <p>
        The resulting specificity for each rule is matched column by column.
        We go from <defn>a</defn> to <defn>d</defn>, and compare which rules
        have the highest value. So, all rules with <defn>a = 1</defn>, override
        all rules with <defn>a = 0 </defn>no matter what each of them get for
        <defn>b</defn>, <defn>c</defn>, or <defn>d</defn>.
      </p>
      <hr>
      <h3>
        What's the difference between <defn>"resetting"</defn> and
        <defn>"normalizing"</defn> CSS? Which would you choose, and why?
      </h3>
      <p>
        <defn>Resetting: </defn> gets completely rid of the default browser
        styling of elements. This means that you have to re-declare all rules
        from scratch, even the basic ones!
      </p>
      <p>
        <defn>Normalizing: </defn> doesn't get rid of all default styling.
        Rather, it keeps the 'useful' ones. It also corrects some browser bugs.
      </p>
      <p>
        Which to choose? Use reset if we are designing an unconventional
        site, and normalize otherwise.
      </p>
      <hr>
      <h3>
        Describe <defn>floats</defn> and how they work.
      </h3>
      <p>
        <defn>Float</defn> is a css positioning property. <loc>float</loc> can
        take a value of <loc>left</loc> or <loc>right</loc> which stick the
        elements in those directions respectively. Floated elements remain in
        the <defn>flow </defn> of a page -- meaning they will affect the
        positioning of other elements. <loc>float</loc> can also takes values
        <loc>none</loc> and <loc>inherit</loc> , which are self explanatory.
      </p>
      <p>
        If a floated element A is inline beside a floated element B, you can
        use <loc>clear</loc> on any one of those elements to move it to the
        next line.
      </p>
      <p>
        If some elements contain only floated elements, then it will have 0
        height. We can fix this in a couple of ways:
      </p>
      <ul>
        <li>
          <p>Set the parent's content to <loc>overflow: auto</loc></p>
        </li>
        <li>
          <p>Add an element with <loc>clear: both</loc> before the close of the
            container
          </p>
        </li>
      </ul>
      <hr>
      <h3>
        Describe <defn>z-index</defn>, and how a <defn>stacking context</defn>
        is formed.
      </h3>
      <p>
        <loc>z-index</loc> controls the vertical stacking order of elements.
        They only affect elements that don't have <loc>position: static</loc>
        (which is the default position property).
      </p>
      <p>
        When there is no <loc>z-index</loc> specified, then elements are
        stacked in the order that they appear in the DOM (top-level at the
        bottom). Elements that don't have <loc>position: static</loc> always
        appear on top over those that do.
      </p>
      <p>
        A <defn>stacking context</defn> is a parent element containing more
        elements. The <loc>z-index</loc> of a <defn>stacking context</defn>'s
        child elements are only relevent within their parent element (read:
        they don't affect other elements outside the
        <defn>stacking context</defn>.)
      </p>
      <p>
        There are many ways to trigger a <defn>stacking context</defn>, such
        as having <loc>opacity</loc> less than 1, and <loc>filter</loc> that is
        not <loc>none</loc>
      </p>
      <hr>
      <h3>Describe <defn>Block Formatting Context</defn> and how it works.</h3>
      <p>
        A <defn>Block Formatting Context</defn> is caused by:
      </p>
      <ul>
        <li>
          <p>
            <loc>float</loc> value other than <loc>none</loc>.
          </p>
        </li>
        <li>
          <p>
            <loc>position</loc> value that isn't <loc>static</loc> or
            <loc>none</loc>.
          </p>
        </li>
        <li>
          <p>
            <loc>display</loc> value of <loc>table-cell</loc>,
            <loc>table-caption</loc>, <loc>inline-block</loc>, or
            <loc>inline-flex</loc>.
          </p>
        </li>
        <li>
          <p>
            <loc>overflow</loc> value that isn't <loc>visible</loc>.
          </p>
        </li>
      </ul>
      <p>
        Each box element contained inside a <defn>BFC</defn> has its left side
        touching the left edge of the <defn>BFC.</defn>
      </p>
      <p>
        Also, vertical margins on stacking elements don't take the sum of the
        margins. Instead, they take only the largest of the two, combining
        them to form a single margin.
      </p>
    </div>
  </div>
</div>
