<div class='blog'>
  <div class="row">
    <div class="col-12">
      <h3>Tutorial Week 5</h3>
    </div>
    <div class="col-12">
      <p>
        We went over assignment 2. Here are some useful links:
      </p>
    </div>
  </div>
  <div class='row'>
    <div class="col-12 col-sm-6">
      <a class="btn-sim" href="http://fideslinga.com/files/C69T5.pdf">
        <span>Visual Guide</span>
      </a>
    </div>
    <div class="col-12 col-sm-6">
      <a class="btn-sim" href="https://docs.google.com/document/d/1byNBDuDQ_u5Q3IQQ8FAt2wH-iUIAiiKoHUtfvpigDyc/edit?usp=sharing">
        <span>README Template</span>
      </a>
    </div>
    <div class="col-12">
      <a class="btn-sim" href="http://fideslinga.com/files/c69_week6_2018.pdf">
        <span>Week 6 Slides</span>
      </a>
    </div>
  </div>
</div>
