<div class='blog'>
  <div class='row'>
    <div class="col-12 col-sm-6">
      <a class="btn-sim" href="http://fideslinga.com/sparknodes">
        <span>WEBSITE</span>
      </a>
    </div>
    <div class="col-12 col-sm-6">
      <a class="btn-sim" href="https://github.com/wafffly/sparknodes">
        <span>GITHUB</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        Sparknodes is a visual introduction to the theory of computation,
        data structures, and algorithms. We want to make these topics
        more accessible because they can be intimidating, and we find
        that resources are more limited than they should be.
      </p>
    </div>
    <div class="col-12">
      <hr>
      <h3>Concept</h3>
      <p>
        A learning tool for Computer Science Theory that is
        focused more on the visuals. We are Computer Science students
        ourselves, and we find that using graphics and
        diagrams helped ground many theoritical concepts.
      </p>
    </div>
    <div class="col-12">
      <img src="./assets/images/work/sparknodes-design-1.png">
    </div>
    <div class="col-12">
      <img src="./assets/images/work/sparknodes-design-2.png">
    </div>
    <div class="col-12">
      <img src="./assets/images/work/sparknodes-design-3.png">
    </div>
    <div class="col-12">
      <hr>
      <h3>Screens</h3>
      <p>
        Here are some mockups for Sparknodes.
      </p>
    </div>
    <div class="col-12">
      <img src="./assets/images/work/sparknodes-screen-1.png">
    </div>
    <div class="col-12">
      <img src="./assets/images/work/sparknodes-screen-2.png">
    </div>
    <div class="col-12">
      <img src="./assets/images/work/sparknodes-screen-3.png">
    </div>
    <div class="col-12">
      <img src="./assets/images/work/sparknodes-screen-4.png">
    </div>
  </div>
</div>
