<div class="blog">
  <div class="row">
    <div class="col-12">
      <h3>Questions 21-30</h3>
    </div>
    <div class="col-12">
      <h3>
        31. Loop 100 times, and print "fizz" at multiples of <code>3</code>,
        "buzz" at multiple of <code>5</code>, and "fizzbuzz" at multiples of
        <code>3</code> and <code>5</code>.
      </h3>
      <pre class="language-javascript"><code>// using simple for loop
for (let i = 1; i &lt;= 100; i++) &#123;
  let f = i % 3 === 0, b = i % 5 === 0;
  if (f && b) console.log("FizzBuzz");
  else if (f) console.log("Fizz");
  else if (b) console.log("Buzz");
&#125;</code></pre>
    </div>
  </div>
</div>
