@mixin custom-preview($bgColor, $color) {
  background-color: $bgColor;
  color: $color;
  &::-webkit-scrollbar-thumb {
    background-color: $color;
  }
  & .bar {
    background-color: $color;
  }
}

.uofthacks-v {
  @include custom-preview(#0a010c, #eab973);
}

.amacss-coffeehouse {
  @include custom-preview(#72a4c1, #fffaed);
}

.potted-plants {
  @include custom-preview(#985c3e, #edd39e);
}

.amacss-gaming {
  @include custom-preview(#0e1826, #ffd37a);
}

.warm-series {
  @include custom-preview(#9b6b44, #fed886);
}

.go-introduction {
  @include custom-preview(#2c332c, #e1e6a3);
}

.amacss-other {
  @include custom-preview(#0e1826, #ffd37a);
}

.floral-series {
  @include custom-preview(#30170e, #e28356);
}

.amacss-piday {
  @include custom-preview(#efc68c, #88391c);
}
