/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1220px;

$beige: #F8EAD5;
$darker-beige: #D6B686;
$brown: #8C4B25;
$browner: #682A05;
$dark-brown: #5D3016;
$darker-brown: #371B0B;

$font-main: 'Work Sans', sans-serif;
//$font-logo: 'Playfair Display', serif;
$font-logo: 'Aleo', serif;

body {
  background-color: $beige;
  color: $brown;
  font-family: $font-main;
}

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

#home-container {
  width: 90vw;
  transition: 0.3s ease-all;
  margin-top: 3vh;
    @include sm {
      width: 80vw;
    }
    @include md {
      width: 55vw;
    }
    @include lg {
      margin-top: 6vh;
      width: 83vw;
    }
    @include xl {
      width: 76vw;
    }

}

h1, span {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 25px;
  padding-bottom: 20px;
  font-weight: 700;
}

a {
  font-size: 20px;
  margin-right: calc(1vw + 15px);
  color: $brown;
	font-weight: 500;
	text-decoration: none;
  transition: 0.3s ease-in-out;
}

.fb-fix {
  position: relative;
  top: -2px;
  font-size: 18px;
}

a:hover {
  color: $browner;
  transition: 0.3s ease-in-out;
}

span {
  font-size: 18px;
  font-weight: 300;
  color: $dark-brown;
}

.home-about-img {
  border-radius: 20px;
  width: 100%;
}

.home-about-img-container {
  margin-bottom: calc(3vw + 5px);
}

.home-about-txt-container {
  margin-top: 1vw;
  margin-bottom: 4vw;
}

//navigation styles
.custom-nav {
  background-color: transparent;

}

.nav-overlay {
  position: absolute;
  padding: 5vw;
  top: -3vh;
  left: -5vw;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  z-index: 6;
  background-color: $beige;
}

.nav-container {
  position: relative;
  left: 0px;
  display: none;
  @include md {
    display: inline;
  }
  & ul {
    display: inline;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    & li {
      display: inline;
      & span {
        font-family: $font-main;
        font-size: 14px;
        color: $brown;
      }
    }
  }
  &.nav-open {
    left: 0px;
    display: inline;
    & li {
      display: block;
    }
  }
}

.bar {
  width: 30px;
  height: 3px;
  background-color: $brown;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 3px;
}

.bar1 {
  @extend .bar;
  &.change {
    -webkit-transform: rotate(-45deg) translate(-6px, 4px) ;
    transform: rotate(-45deg) translate(-6px, 4px) ;
  }
}

.bar2 {
  @extend .bar;
  &.change {
    opacity: 0;
  }
}

.bar3 {
  @extend .bar;
  &.change {
    -webkit-transform: rotate(45deg) translate(-8px, -6px) ;
    transform: rotate(45deg) translate(-8px, -6px) ;
  }
}

.nav-icon {
  display: inline-block;
}

.nav-toggle {
  background-color: transparent;
  position: absolute;
  top: -0.5vh;
  right: 1vw;
  @include md {
    display: none;
  }
}

.fides-icon {
  width: 40px;
  height: 40px;
  background-color: $darker-beige;
  border-radius: 3px;
  & span {
    font-family: $font-logo;
    color: white;
    position: relative;
    font-size: 27px;
    top: 2px;
    left: 11px;
  }
}
