/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1220px;

$beige: #F8EAD5;
$darker-beige: #DFC399;
$brown: #8C4B25;
$browner: #682A05;
$dark-brown: #5D3016;
$darker-brown: #371B0B;

$font-main: 'Work Sans', sans-serif;
$font-logo: 'Playfair Display', serif;

body {
  background-color: $beige;
  color: $brown;
  font-family: $font-main;
}

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

#home-container {
  width: 90vw;
  transition: 0.3s ease-all;
  margin-top: 3vh;
    @include sm {
      width: 80vw;
    }
    @include md {
      width: 55vw;
    }
    @include lg {
      margin-top: 6vh;
      width: 83vw;
    }
    @include xl {
      width: 76vw;
    }

}

h1, span {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 25px;
  padding-bottom: 20px;
  font-weight: 700;
}

a {
  font-size: 20px;
  margin-right: calc(1vw + 15px);
  color: $brown;
	font-weight: 500;
	text-decoration: none;
  transition: 0.3s ease-in-out;
}

.fb-fix {
  position: relative;
  top: -2px;
  font-size: 18px;
}

a:hover {
  color: $browner;
  transition: 0.3s ease-in-out;
}

span {
  font-size: 18px;
  font-weight: 300;
  color: $dark-brown;
}

.home-about-img {
  border-radius: 20px;
  width: 100%;
}

.home-about-img-container {
  margin-bottom: calc(3vw + 5px);
}

.home-about-txt-container {
  margin-top: 1vw;
  margin-bottom: 4vw;
}

//navigation styles
.custom-nav {
  background-color: transparent;
}

.modal-nav-content {
  width: 100%;
  height: auto;
}

.modal-nav-body {
  margin-top: 100px;
}

.modal-nav-body ul {
  list-style-type: none;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}

.modal-nav-body ul li {
  text-align: center;
  font-size: 130%;
  padding: 8px;
  text-transform: uppercase;
}

.nav-menu-item {
  font-family: $font-main;
  font-size: 14px;
  color: $brown;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: $brown;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 3px;
}

.bar1 {
  @extend .bar;
  &.change {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
}

.bar2 {
  @extend .bar;
  &.change {
    opacity: 0;
  }
}

.bar3 {
  @extend .bar;
  &.change {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }
}

.fides-icon {
  width: 40px;
  height: 40px;
  background-color: $darker-beige;
  border-radius: 5px;
  & span {
    font-family: $font-logo;
    color: white;
    position: absolute;
    font-size: 30px;
    top: 8px;
    left: 25px;
  }
}
