<div class='container-fluid' id='gallery-preview-container' [ngClass]="{'close-preview': closeAnimate}">
  <div class='gallery-preview-close' (click)="closePreview()">
    <i class="fas fa-times"></i>
  </div>
  <div class='gallery-preview-center'>
    <img src='{{image.url}}' class='gallery-preview-photo'/>
      <div class='gallery-preview-caption'>
        <span class='gallery-preview-title'>
          {{image.title}}
        </span>
        <br>
        <span class='gallery-preview-desc'>
          {{image.description}}
        </span>
      </div>
  </div>
</div>
