<div class='blog'>
  <div class="row">
    <div class="col-12">
      <h3>What it is</h3>
      <p>Closetr is a closet tracker that helps you have a better sense of your style,
      and spending. We want to make it easier to know what to wear next, and to give
      you insight on which clothes work (and don't work) for you.</p>
      <hr>
      <h3>Why we made this</h3>
      <h4>... a tool that we needed.</h4>
      <p>Closetr is meant to help with organizing your closet, whether you have too much
      or too little.</p>
      <h4>... a project to help us learn.</h4>
      <p>We also wanted to get started on a project together and learn how to build a
      web application with a new stack we have no previous experience on.</p>
      <hr>
      <h3>Core functionality</h3>
      <p>There were a ton of things we wanted Closetr to do for us, but we decided to
      start out with the things (dubbed "widgets") that were most important.</p>
      <ol>
        <li><p><strong>Closet Widget</strong>
        First, the obvious: we wanted to keep track of what's in our closet. This
        feature allowed us to add new clothes in our closet, and then look through them
        (with basic filters and sorts too). Basic maintenance functions such as editing
        deleting are included too.</p></li>
        <li><p><strong>Spending Widget</strong>
        The second widget tracks spending. Keeping within a budget was important to us
        when it came to buying clothes, so we wanted this widget to help keep us
        accountable. It would list what we've purchased during the last month (or whatever
        period of time), and let us know if we're still in budget.</p></li>
        <li><p><strong>Today Widget</strong>
        This widget makes everyday decisions about clothing easier. It tells you the
        weather, which hopefully will help with dressing more appropriately for it. You
        can also log what you're wearing for a particular day, which over time will tell
        you about your style: what you tend to wear (and otherwise.)</p></li>
      </ol>
      <hr>
      <h3>Look and feel</h3>
      <p>When coming up with the design for Closetr, we knew we wanted to start with
      something simple and friendly. We liked flat designs with meaningful interactions,
      which was the principle we went by in designing the initial screens for our
      web application.</p>
    </div>
  </div>
</div>
