<div class='container-fluid site-content' id='home-container'>
  <div class='row'>
    <div class='col-12 col-lg-6 col-xl-5'>
      <div class='home-about-img-container'>
        <!--<img src='images/Fides_Avatar.png' class='home-about-img'/>-->
        <img src='./assets/images/Fides_Avatar.png' class='home-about-img'/>
      </div>
    </div>
    <div class='col-12 col-lg-6 col-xl-7'>
      <div class='home-about-txt-container'>
        <h1>
          Hello, my name is Fides.
        </h1>
        <span>
          I am mostly a front-end web developer who enjoys making
          simple, working things. I currently study Computer Science at
          U of T. On the side, I do some <a routerLink="/gallery">illustration and graphic design</a>.
          <br><br>
          Check out my <a routerLink="/work">projects</a> to see what
          I've been working on. If you wanna say hi, send me an
          <a href="mailto:fides.linga@mail.utoronto.ca?Subject=Hi!" target="_top">e-mail!</a>
          <br><br>
      <a href="files/FidesLinga_Resume.pdf" class="icon-link"><i class="fas fa-file"></i></a>
      <a href="files/FidesLinga_Transcript.pdf" class="icon-link"><i class="fas fa-graduation-cap"></i></a>
      <a href="https://www.linkedin.com/in/fides-linga-a58430109/" class="icon-link"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://www.facebook.com/fides.linga" class="icon-link"><i class="fab fa-facebook-f fb-fix"></i></a>
      <a href="https://www.instagram.com/fides.linga" class="icon-link"><i class="fab fa-instagram"></i></a>
      <br><br>
    </span>
      </div>
    </div>
  </div>
</div>
