<div class='container-fluid' id='home-container'>
  <div class='row'>
    <div class='col-12 col-lg-6 col-xl-5'>
      <div class='home-about-img-container'>
        <!--<img src='images/Fides_Avatar.png' class='home-about-img'/>-->
        <img src='./assets/images/Fides_Avatar.png' class='home-about-img'/>
      </div>
    </div>
    <div class='col-12 col-lg-6 col-xl-7'>
      <div class='home-about-txt-container'>
        <h1>Hello, my name is Fides.</h1>
        <span>I am mostly a front-end web developer
          who enjoys making simple, working things. I currently
          study Computer Science at U of T. On the side, I do some illustration and graphic
      design. <br><br> There's not much to see here yet because
    I'm still working on this website. See you back soon!<br><br>
      <a href="files/FidesLinga_Resume.pdf"><i class="fas fa-file"></i></a>
      <a href="files/FidesLinga_Transcript.pdf"><i class="fas fa-graduation-cap"></i></a>
      <a href="https://www.linkedin.com/in/fides-linga-a58430109/"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://www.facebook.com/fides.linga"><i class="fab fa-facebook-f fb-fix"></i></a>
      <a href="https://www.instagram.com/fides.linga"><i class="fab fa-instagram"></i></a>
      <br><br>
      <a href="/gallery">work</a>
    </span>
      </div>
    </div>
  </div>
</div>
