<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/go_introduction_1.png' class='gallery-preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="gallery-preview-desc">
      Cover, and inner pages designed for 'GO Introduction'
      brochure, as a concept. Created during an internship with
      GO Transit. Designed on Adobe Illustrator.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/go_introduction_2.png' class='gallery-preview-photo'/>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/go_introduction_3.png' class='gallery-preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="gallery-preview-desc">
       I used Adobe Illustrator to create buses, with a playful
       theme in mind.
       <br>
       Here are the vectors for the vehicles created.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/transitassets-01.png' class='gallery-preview-photo'/>
  </div>
</div>
