<div class="row">
  <div class="col-12">
    <span class="gallery-preview-desc">
      <br>
      During my internship with GO Transit, one of my
      projects was to design a brochure that was
      to be given to customers who were new to GO.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/go_introduction_1.png' class='gallery-preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="gallery-preview-desc">
      I designed the cover, and inner pages with
      custom vector illustrations using GO's
      design guidelines.
      <br><br>
      Since the goal of the brochure was an
      introduction, I went for a playful, simple
      theme. We wanted it to be easy to read and
      digest.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/go_introduction_2.png' class='gallery-preview-photo'/>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/go_introduction_3.png' class='gallery-preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="gallery-preview-desc">
       I used Adobe Illustrator to create
       vectors for select Toronto transit vehicles.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/transitassets-01.png' class='gallery-preview-photo'/>
  </div>
</div>
