<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/weekly1_flowergirl.PNG' class='gallery-preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="gallery-preview-desc">
       Series of illustrations about flowers. This is
       meant for studying but also because flowers
       are really relaxing to draw.
    </span>
  </div>
</div>
<div class="row mtb-20">
  <div class="col-12">
    <img src='./assets/images/gallery/archives/weekly2_flowerbranch.PNG' class='gallery-preview-photo'/>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <span class="gallery-preview-desc">
       The above drawing is based on Robert Mapplethorpe's
       photograph titled 'Orchid'.
       <br>
       Designed on ProCreate (iPad Pro).
    </span>
  </div>
</div>
